body{
    margin: 0;
}
p{
    margin: 0;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 32px;
}
a{
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-one{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 52px 0px 52px 0px;
    gap: 32px;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}


.section-three{
    background-color: #e5e7eb;
}
.section-three p{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}


.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}
.hero-secondary-text{
    font-size: 18px;
    color: #f9faf8;
}
button{
    background-color: #3882f6;
    max-width: 100px;
    padding: 6px;
    color: white;
    border: 0;
    border-radius: 6px;
    text-align: center;
}
.header-text{
    font-size: 36px;
    font-weight: bolder;
}

.footer{
    background-color: #1f2937;
}