body{
    margin: 0;
}
p{
    margin: 0;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 32px;
}
a{
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}
.hero-secondary-text{
    font-size: 18px;
    color: #f9faf8;
}

.section-one{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 82px 0px 82px 0px;
    gap: 32px;
}

.section-one .container{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 0px 82px 0px;
}

.section-three {
    background-color: #e5e7eb;
    padding: 82px 0px 82px 0px;
    display: flex;
    justify-content: center;
}

.section-three p{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote-container{
    display: flex;
    flex-direction: column;
}
.quote{
    width: 1000px;
}
.signature{
    align-self:flex-end;
}
.signature p{
    font-weight: bolder;
}

.section-four{
    display: flex;
    justify-content: center;
    padding: 82px 0 82px 0;
}

.section-four .container{
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
}

.section-four p{
    font-size: 20px;
    color: white;
    font-weight: bolder;
}
.section-four :nth-child(2){
    font-weight: normal;
}

.section-four button{
    border: 2px solid white;
    width: 100px;
}



button{
    background-color: #3882f6;
    max-width: 100px;
    padding: 6px;
    color: white;
    border: 0;
    border-radius: 6px;
    text-align: center;
}
.header-text{
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 52px;
}

.footer{
    background-color: #1f2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer p {
    color: white;
}

.images{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.image{
    display: flex;
    flex-direction: column;
    flex: 0 1 25px;
    gap: 10px;
}
img{
    border-radius: 10px;
}